body{
    font-family: ProximaNova,arial,Helvetica Neue,sans-serif;
}
.header-container{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.header-container .logo{
    width:100px;
}

.nav-items > ul{
    display: flex;
    list-style: none;
    padding-right: 50px;
}

.nav-items > ul >li{
    margin: 10px;
    font-size: 18px;
}

.body{
    padding:20px 50px;
}

.search-container{
    text-align: center;
}

.rest-container{
    display: flex;
    flex-wrap: wrap;
}
.rest-card{
    width: 200px;
    height: 270px;
    padding: 5px;
    background-color: #f5f5f5;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin:5px;
}
.rest-card:hover{
    background-color: #eee;
}
.rest-img{
    width: 100%;
}
.rest-title{
    font-size: 17px;
    font-weight: 500;
    word-break: break-word;
    margin-top: 10px;
    margin-bottom: 0px;
}
.rest-cuisines{
    font-size: 12px;
    color: #686b78;
    margin-top: 8px;
}

.rest-details{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #535665;
    margin-top: 20px;
}
.rest-rating{
    background-color: #48c479;
    color: #fff;
    padding: 3px;
}

.top-rated-rest{
    cursor: pointer;
    border: none;
    background-color: #3d4adc;
    padding: 4px;
    color:white;
}

/* shimmer ui */

  
  .card {
    position: relative;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 6px;
    height: 270px;
    overflow: hidden;
    width: 200px;
    margin:5px;
    padding: 5px;
  }
  .card .shimmerBG, .shimmerBG {
    -webkit-animation-duration: 2.2s;
            animation-duration: 2.2s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-name: shimmer;
            animation-name: shimmer;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    background: #ddd;
    background: linear-gradient(to right, #f6f6f6 8%, #f0f0f0 18%, #f6f6f6 33%);
    background-size: 1200px 100%;
  }
  @-webkit-keyframes shimmer {
    0% {
      background-position: -100% 0;
    }
    100% {
      background-position: 100% 0;
    }
  }
  @keyframes shimmer {
    0% {
      background-position: -1200px 0;
    }
    100% {
      background-position: 1200px 0;
    }
  }
  .card .media {
    height: 115px;
  }
  .card .p-32 {
    padding-top:15px;
  }
  .card .title-line, .title-line {
    height: 24px;
    width: 100%;
    margin-bottom: 12px;
    border-radius: 20px;
  }
  .card .content-line {
    height: 8px;
    width: 100%;
    margin-bottom: 16px;
    border-radius: 8px;
  }
  .card .end {
    width: 40%;
  }
  
  .m-t-24 {
    margin-top: 24px;
  }
